always-auth=true
registry=http://npmregistry.hzdg.com/
//npmregistry.hzdg.com/:_authToken="6UxnvY8h5xzL0y2rB9EVWwQbMwipSesaeMkfcnQasBwXiFNvw6znXbh6Y8sZInK99nXgEkQXH14gv5NDjXRJ6g=="
//npm.pkg.github.com/:_authToken=90ee8290b63651c795fa5e9a621fdaa8d2b0b00b
